@charset "utf-8";
/* CSS Document */


h1{
	
	color:#FFF;
	text-align:center;
		
}

/*Estilo galeria*/

.galeria{
	
	list-style:none;
	width:90%;
	margin:auto;
	padding:20px;
	box-sizing:border-box;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-aroud;

	
}

.galeria img{
	
	width:100px;
	height:100px;
	border-radius:10px;
    -webkit-transition:-webkit-transform 0.3s ease-in-out 0.1s;
	
	
}

.galeria img:hover{
	
	-webkit-transform:scale(1.2);
	
}

.galeria li{
	
	margin:20px;
}


.imagen{
	
	width:100%;	
	display:flex;
	justify-content:center;
	align-items:center;
}

.imagen a{
	
	color:#FFF;
	font-size:40px;
	text-decoration:none;
	margin:0 10px;
	
}

.imagen a:nth-child(2){
	
	margin:0;
	height:100%;
	flex-shrink:2;
	
}


figcaption{
	
	font-size:0.9em;	
	font-family:"Lucida Console", Monaco, monospace;
	color:#000;
	text-align:center;
	margin:auto;
	margin-top:10px;
    
   
	
}